<p-toast></p-toast>
<div class="card m-4">
    <div class="flex justify-content-center flex-wrap card-container">
        <p-panel header="Lista de Pokemones">
            <p-table [value]="listPokemon" [tableStyle]="{ 'min-width': '50rem' }"
                [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                [rowsPerPageOptions]="[10, 25, 50]">
                <ng-template pTemplate="header" let-cols>
                    <tr>
                        <th> 
                            nombre
                        </th>
                        <th> 
                          url
                      </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-empleado>
                    <tr>
                        <td>{{ empleado.name }}</td>
                        <td>{{ empleado.url }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-panel>
    </div>
</div>








